.formButton {
  background-color: var(--highlight);
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  font-weight: 600;
  color: var(--text);
  font-size: 1rem;
  cursor: pointer;
  width: max(26dvw, 17rem);
}
